* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(img/pattern-7451714_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title,
.display-turn,
.buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 2rem;
    color: #fff;
}

.buttons div {
    padding-left: 2rem;
    cursor: pointer;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gameboard {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 25vw;
    height: 25vw;
}

.box {
    width: auto;
    height: auto;
    min-width: 50px;
    min-height: 50px;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1.5vw;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #fff;
    box-shadow:
        0 0 0.2rem #fff,
        0 0 0.2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

.player1 {
    text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 25px #0fa;
}

.player2 {
    font-size: max(4vw, 3rem);
    text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 25px #f89;
}

.box:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 980px) {
    .game-wrapper {
        width: 100vw;
    }

    .gameboard {
        width: auto;
    }
}

.modal-wrapper {
    background-color: rgb(0, 0, 0);
    /* fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /*Black w/ opacity */
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* Stay in place */
}

.modal {
    display: flex;
    /*hidden by default */
    position: fixed;
    /* fixed in place */
    z-index: 1;
    /* Sit on top */
    left: 0%;
    top: 0%;
    width: 100%;
    /*Full width */
    overflow: auto;
    height: fit-content;
    font-size: max(5vh, 20px);
}

/* Modal Content/Box */
.modal-content,
.front-content {
    text-align: center;
    width: 100%;
    color: #fff;
}

.front-content {
    margin: 5vh auto;
    width: auto;
    border-radius: 0%;
    border: 0.2rem solid #660066;
    padding: 2rem 4rem 2rem 4rem;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.front:hover,
.front:focus {
    color: #f89;
    cursor: pointer;
}

.inputField {
    display: flex;
    font-size: max(1.5vw, 25px);
    width: 100%;
    padding-bottom: 2.5rem;
    align-items: center;
}

.form-class {
    height: 2rem;
    margin-left: 2rem;
    color: #f89;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    width: 50%;
}

.input-label {
    max-width: 50%;
}

input[type="radio"] {
    width: unset;
    margin: 0.25rem 0.5em 0 2rem;
    /* top right bottom left */
    vertical-align: middle;
    min-height: 1.25rem;
    min-width: 1.25rem;
    border: 0px;
}

.form-class:focus {
    box-shadow: none;
    outline: 0;
}

.flex {
    display: flex;
    justify-content: center;
}

.start-button {
    width: 200px;
    padding: 0.75rem;
    background-color: #efbbff;
    border-radius: 10px;
    cursor: pointer;
}